@font-face {
	font-family: 'Mission Script';
	font-style: normal;
	font-weight: normal;
	src: local('Mission Script'), url('/assets/fonts/Mission-Script.woff') format('woff');
}

@font-face {
	font-family: "Lavanderia-Sturdy";
	src: url("/assets/fonts/Lavanderia-Sturdy.eot");
	src: url("/assets/fonts/Lavanderia-Sturdy.eot?#iefix")format("embedded-opentype"),
		url("/assets/fonts/Lavanderia-Sturdy.woff")format("woff"),
		url("/assets/fonts/Lavanderia-Sturdy.woff2")format("woff2"),
		url("/assets/fonts/Lavanderia-Sturdy.ttf")format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--color-white: hsla(0, 0%, 100%, 1);
	--color-black: hsla(215, 27%, 19%, 1);
	--color-footer: hsl(214.5deg 93.02% 16.86%);
	--color-footer-accent: hsl(214, 58%, 28%);
	--gradient-gold: radial-gradient(ellipse farthest-corner at right bottom,
			#fedb37 0%,
			#fdb931 8%,
			#9f7928 30%,
			#8a6e2f 40%,
			transparent 80%),
		radial-gradient(ellipse farthest-corner at left top,
			#ffffff 0%,
			#ffffac 8%,
			#d1b464 25%,
			#5d4a1f 62.5%,
			#5d4a1f 100%);
	--border-radius: 9px;
	--duration: 0.3s;
	--size-extra-small: 0.5rem;
	--size-small: 1rem;
	--size-medium: 2rem;
	--size-large: 3rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brightness: 1;
		--bg-primary: oklab(0.98 -0.01 -0.01);
		--bg-inverted: oklab(0.09 -0.01 -0.01 / 1);
		--bg-secondary: hsla(38, 11%, 93%, 1);
		--bg-tertiary: hsla(38, 11%, 90%, 1);
		--txt-primary: hsl(215, 21%, 33%);
		--txt-secondary: oklab(0.29 -0.02 -0.12);
		--txt-tertiary: hsl(215, 21%, 54%);
		--txt-inverted: hsl(36, 12%, 99%);
		--txt-title: var(--txt-inverted);
		--border-color: var(--bg-tertiary);
		--shadow-color: hsla(0, 0%, 0%, 0.36);
		--color-error: hsl(0, 88%, 41%);
		--color-success: hsl(161, 34%, 55%);
		--link: hsla(216, 54%, 36%, 1);
		--link_hover: hsla(216, 97%, 36%, 1);
		--gradient-0: linear-gradient(123deg, rgba(118, 158, 210, 1) 0%, rgba(182, 190, 82, 1) 100%) fixed;
		--gradient: linear-gradient(hsla(0, 0%, 100%, .72), hsla(0, 0%, 100%, .6), var(--bg-primary));
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--brightness: 0.81;
		--bg-primary: oklab(0.09 -0.01 -0.01 / 1);
		--bg-inverted: oklab(0.98 -0.01 -0.01);
		--bg-secondary: hsla(215, 21%, 23%, 1);
		--bg-tertiary: hsla(215, 18%, 27%, 1);
		--txt-primary: hsla(180, 3%, 76%, 1);
		--txt-secondary: oklab(0.69 -0.02 -0.12 / 1);
		--txt-tertiary: hsla(180, 3%, 60%, 1);
		--txt-inverted: hsla(215, 14%, 82%, 1);
		--txt-title: hsla(0, 0%, 0%, 1);
		--border-color: var(--bg-tertiary);
		--shadow-color: hsla(0, 0%, 0%, 0.81);
		--color-error: hsl(0, 88%, 41%);
		--color-success: hsl(161, 34%, 55%);
		--link: hsla(216, 70%, 81%, 1);
		--link_hover: hsla(216, 70%, 93%, 1);
		--gradient-0: linear-gradient(to right, #181b1f 0%, #070707 100%);
		--gradient: linear-gradient(hsl(215 27% 18% / .9), hsl(215 27% 18% / .81), var(--bg-primary));
	}
}


/*  MODERN RESET AS OF END OF 2021  */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	block-size: 100%;
	color-scheme: dark light;
}

body {
	font-family: "Open Sans", "OpenSansRegular", Roboto, -apple-system, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	line-height: 1.5;
	font-size: 16px;
	color: var(--txt-primary);

	margin: 0;
	padding: 0;
	background: var(--gradient-0);
	display: grid;
	place-items: center;
	min-block-size: 100%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	/* hyphens: auto; */
}

/* END OF RESET */

hr {
	height: 3px;
	width: 18ch;
	border: none;
	border-radius: 3px;
	background: LinkText;
	background: linear-gradient(to bottom right in oklab,
			oklch(70% 0.5 340),
			oklch(90% 0.5 200)) fixed;
}

h1 {
	font-family: "Lavanderia-Sturdy";
	font-weight: 400;
	font-size: clamp(1.5rem, 18vw, 3rem);
}

[hide],
.hide {
	display: none;
}