@font-face {
	font-family: 'Mission Script';
	font-style: normal;
	font-weight: normal;
	src: local('Mission Script'), url('/assets/fonts/Mission-Script.woff') format('woff');
}

@font-face {
	font-family: 'OpenSansVariable';
	font-style: normal;
	font-weight: normal;
	src: local('OpenSansVariable'), url('/assets/fonts/OpenSansVariable.ttf') format('truetype');
}

:root {
	--color-white: hsla(0, 0%, 100%, 1);
	--color-black: hsla(215, 27%, 19%, 1);
	--color-footer: hsl(214.5deg 93.02% 16.86%);
	--color-footer-accent: hsl(214, 58%, 28%);
	--gradient-gold: radial-gradient(
		ellipse farthest-corner at right bottom,
		#fedb37 0%,
		#fdb931 8%,
		#9f7928 30%,
		#8a6e2f 40%,
		transparent 80%
	),
	radial-gradient(
		ellipse farthest-corner at left top,
		#ffffff 0%,
		#ffffac 8%,
		#d1b464 25%,
		#5d4a1f 62.5%,
		#5d4a1f 100%
	);
	--border-radius: 9px;
	--duration: 0.3s;
}


:root {
	color-scheme: light;

	--brightness: 1;
	--bg-primary: oklab(0.98 -0.01 -0.01);
	--bg-inverted: oklab(0.09 -0.01 -0.01 / 1);
	--bg-secondary: hsla(38, 11%, 93%, 1);
	--bg-tertiary: hsla(38, 11%, 90%, 1);
	--txt-primary: hsl(215, 21%, 33%);
	--txt-secondary: oklab(0.29 -0.02 -0.12);
	--txt-tertiary: hsl(215, 21%, 54%);
	--txt-inverted: hsl(36, 12%, 99%);
	--txt-title: var(--txt-inverted);
	--border: var(--bg-tertiary);
	--shadow: hsla(0, 0%, 0%, 0.36);
	--color-biege: #fff7ec;
	--color-orange: hsla(39, 97%, 62%, 1);
	--color-blue: hsla(216, 70%, 62%, 1);
	--color-red: hsla(333, 81%, 45%, 1);
	--color-purple: hsla(257, 58%, 67%, 1);
	--color-danger: hsl(0, 88%, 41%);
	--color-success: hsl(161, 34%, 55%);
	--link: hsla(216, 54%, 36%, 1);
	--link_hover: hsla(216, 97%, 36%, 1);
	--gradient-0: radial-gradient(circle farthest-corner at 10% 20%, rgb(111 147 178) 42%, rgb(128 136 53) 93.6%);
	--gradient: linear-gradient(hsla(0,0%,100%,.72),hsla(0,0%,100%,.6),var(--bg-primary));
	--gradient-1: linear-gradient(
		to bottom,
		hsl(157.94deg 89.47% 44.71%) 0%,
		hsl(188.35deg 95.04% 76.27%) 100%
	);
	--gradient-2: radial-gradient(
		circle,
		#051937,
		hsl(188.35deg 95.04% 76.27%),
		#008793,
		hsl(188.35deg 95.04% 76.27%),
		hsl(157.94deg 89.47% 44.71%)
	);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--brightness: 0.81;
		--bg-primary: oklab(0.09 -0.01 -0.01 / 1);
		--bg-inverted: oklab(0.98 -0.01 -0.01);
		--bg-secondary: hsla(215, 21%, 23%, 1);
		--bg-tertiary: hsla(215, 18%, 27%, 1);
		--txt-primary: hsla(180, 3%, 76%, 1);
		--txt-secondary: oklab(0.69 -0.02 -0.12 / 1);
		--txt-tertiary: hsla(180, 3%, 60%, 1);
		--txt-inverted: hsla(215, 14%, 82%, 1);
		--txt-title: hsla(0, 0%, 0%, 1);
		--border: var(--bg-tertiary);
		--shadow: hsla(0, 0%, 0%, 0.81);
		--color-orange: hsla(39, 97%, 62%, 1);
		--color-blue: hsla(216, 54%, 36%, 1);
		--color-red: hsla(333, 81%, 36%, 1);
		--color-purple: hsla(257, 58%, 67%, 1);
		--color-danger: hsl(0, 88%, 41%);
		--color-success: hsl(161, 34%, 55%);
		--link: hsla(216, 70%, 81%, 1);
		--link_hover: hsla(216, 70%, 93%, 1);
		--gradient-0: linear-gradient(to right, #181b1f 0%, #070707 100%);
		--gradient: linear-gradient(hsl(215 27% 18% / .9),hsl(215 27% 18% / .81),var(--bg-primary));
		--gradient-1: linear-gradient(
			to bottom,
			hsl(157.94deg 89.47% 44.71%) 0%,
			hsl(188.35deg 95.04% 76.27%) 100%
		);
		--gradient-2: radial-gradient(
			circle,
			#051937,
			hsl(188.35deg 95.04% 76.27%),
			#008793,
			hsl(188.35deg 95.04% 76.27%),
			hsl(157.94deg 89.47% 44.71%)
		);
	}
}


/*  MODERN RESET AS OF END OF 2021  */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
html {
	block-size: 100%;
	color-scheme: dark light;
}

body {
	font-family: "Open Sans", "OpenSansRegular", Roboto, -apple-system, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
  line-height: 1.5;
	font-size: 16px;
	color: var(--txt-primary);

	margin: 0;
	padding: 0;
	background-image: var(--gradient-0);
	display: grid;
	place-items: center;
	min-block-size: 100%;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
	/* hyphens: auto; */
}

/* END OF RESET */


h1 {
	font-family: "Mission Script";
	font-weight: 400;
	font-size: clamp(1.5rem, 18vw, 3rem);
}

[hide], .hide {
	display: none;
}

/*
	ANIMATIONS
*/
@keyframes puff-in-center {
	0% {
	transform: scale(2);
	filter: blur(4px);
	opacity: 0;
	}
	100% {
	transform: scale(1);
	filter: blur(0px);
	opacity: 1;
	}
}

@keyframes scale-in-center {
	0% {
	transform: scale(0);
	opacity: 1;
	}
	100% {
	transform: scale(1);
	opacity: 1;
	}
}

@keyframes slide-in-elliptic-top-fwd {
	0% {
	transform: translateY(-600px) rotateX(-30deg) scale(0);
	transform-origin: 50% 100%;
	opacity: 0;
	}
	100% {
	transform: translateY(0) rotateX(0) scale(1);
	transform-origin: 50% 1400px;
	opacity: 1;
	}
}

@keyframes jello-horizontal {
	0% {transform: scale3d(1, 1, 1);}
	30% {transform: scale3d(1.25, 0.75, 1);}
	40% {transform: scale3d(0.75, 1.25, 1);}
	50% {transform: scale3d(1.15, 0.85, 1);}
	65% {transform: scale3d(0.95, 1.05, 1);}
	75% {transform: scale3d(1.05, 0.95, 1);}
	100% {transform: scale3d(1, 1, 1);}
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}
	15% {	transform: translateX(-30px) rotate(-6deg);	}
	30% {	transform: translateX(15px) rotate(6deg);	}
	45% {	transform: translateX(-15px) rotate(-3.6deg);	}
	60% {	transform: translateX(9px) rotate(2.4deg);	}
	75% {	transform: translateX(-6px) rotate(-1.2deg);  }
}

@keyframes tilt-in-fwd-tl {
	0% {
	transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
	opacity: 0;
	}
	100% {
	transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
	opacity: 1;
	}
}
@keyframes tilt-in-fwd-bl {
	0% {
	transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
	opacity: 0;
	}
	100% {
	transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
	opacity: 1;
	}
}
@keyframes tilt-in-fwd-br {
	0% {
	transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
	opacity: 0;
	}
	100% {
	transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
	opacity: 1;
	}
}
@keyframes tilt-in-fwd-tr {
	0% {
	transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
	opacity: 0;
	}
	100% {
	transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
	opacity: 1;
	}
}

@keyframes slide-in-top {
	0% {
	transform: translateY(-1000px);
	opacity: 0;
	}
	100% {
	transform: translateY(0);
	opacity: 1;
	}
}

@keyframes bounce-in-top {
	0% {
	transform: translateY(-500px);
	animation-timing-function: ease-in;
	opacity: 0;
	}
	38% {
	transform: translateY(0);
	animation-timing-function: ease-out;
	opacity: 1;
	}
	55% {
	transform: translateY(-65px);
	animation-timing-function: ease-in;
	}
	72% {
	transform: translateY(0);
	animation-timing-function: ease-out;
	}
	81% {
	transform: translateY(-28px);
	animation-timing-function: ease-in;
	}
	90% {
	transform: translateY(0);
	animation-timing-function: ease-out;
	}
	95% {
	transform: translateY(-8px);
	animation-timing-function: ease-in;
	}
	100% {
	transform: translateY(0);
	animation-timing-function: ease-out;
	opacity: 1;
	}
}

@keyframes rotateHue {
  from { filter: hue-rotate(0deg); opacity: 1; transform: translateY(-500px); }
  to { filter: hue-rotate(360deg); opacity: 1; transform: translateY(0); }
}

@keyframes border-animation {
  0%, 100% { box-shadow: 0px 0px 0px 0px var(--color-orange); }
  50% { box-shadow: 0px 0px 0px 2px var(--color-orange); }
}


/* OVERRIDES
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		animation-delay: 0.01ms !important;
	}
}
*/


.glass_ref {
	background: linear-gradient(
		172deg,
		hsla(216, 54%, 36%, 0.81) 0,
		hsla(216, 54%, 36%, 0.45) 127px,
		hsla(216, 54%, 36%, 0.18) 245px,
		hsla(216, 54%, 36%, 0.1) 270px,
		hsla(216, 54%, 36%, 0) 300px
	);
}